<ion-view view-title="Find My Pet" name="login-view">
  <div class="fundo"></div>
  <ion-content class="padding">
	  <div style="text-align: center;">
		  <img src="img/mo.png" style="width: 49%;">
	  </div>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Login" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Senha" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-assertive" ng-click="login()">Entrar</button>
  </ion-content>
</ion-view>
